[core]
	editor = \"C:\\Users\\HUAWEI\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[gui]
	recentrepo = C:/Users/HUAWEI/Grupo LIAS
[user]
	name = Marisol Lopez
	email = l19121048@morelia.tecnm.mx
