/Documents/NetBeansProjects/analizador/nbproject/private/
/Documents/NetBeansProjects/analizador/build/
/Documents/NetBeansProjects/analizador1/nbproject/private/
/Documents/NetBeansProjects/analizador1/build/
/Documents/NetBeansProjects/IS1/nbproject/private/